*
    font-family: 'Museo Sans Cyrl', sans-serif
.container
    width: 950px
    margin: 0 auto
@import 'blocks/promo'
@import 'blocks/header'
@import 'base/variables.sass'
@import 'blocks/buttons'
@import 'blocks/advantages'

@import 'blocks/consultation'
@import 'blocks/forms'

@import 'base/media'