.card
    width: 300px
    min-height: 440px
    border: solid 2px #e8e8e8
    padding: 20px 20px 26px 21px
    box-sizing: border-box
    overflow: hidden
    margin: 0 20px 20px 0
    &:nth-child(3n)
        margin-right: 0
    &__img
        width: 140px
        height: 200px
        display: block
        margin: 0 auto
    &__title
        font-size: 16px
        font-weight: bold
        text-align: center
        color: $almost_black
        margin-top: 20px
    &__descr
        max-width: 245px
        font-size: 14px
        font-weight: 300
        text-align: center
        color: $almost_black
        margin-top: 16px
    &__link
        font-size: 14px
        font-weight: 500
        display: block
        text-align: center
        color: $main_color
        margin-top: 17px
        text-transform: uppercase
    &__wrapper
        display: flex
        width: calc( 200% + 40px )
    &__content
        width: 50%
        transform: translateX(-100%)
        margin-right: 0px
        transition: 0.5s all
        &_active
            transform: translateX(0)
            margin-right: 20px
    &__full-descr
        width: 50%
        margin-left: 20px
        font-size: 14px
        font-weight: 300
        color: #555555
        list-style: none
        padding: 0 3px 0 0
        position: relative
        transition: 0.5s all

        &_active
            transform: translateX(-100%)
            margin: 0
        li 
            margin-bottom: 20px
            position: relative
            &::before
                content: ' '
                position: absolute
                width: 5px
                height: 5px
                left: -14px
                top: 7px
                background-color: $main_color
    &__link-back
        font-size: 14px
        font-weight: 500
        position: absolute
        bottom: 0
        color: $main_color
        transform: translateX(calc(50% + 70px ))
        text-transform: uppercase
        

            
    hr 
        border-color: #e8e8e8
        border-bottom: none
        margin-top: 19px
    &__footer
        margin-top: 21px
        display: flex
        justify-content: space-between
        align-items: flex-end
    &__price-old
        font-size: 14px
        font-weight: 300
        color: #555555
        text-decoration: line-through
    &__price
        font-size: 20px
        font-weight: bold
        color: #050505
